<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.news.analysis.dao.ExcipientsPutRecordMapper">
    <select id="getExcipientsPutRecordList" parameterType="String" resultType="ExcipientsPutRecord">
        SELECT * FROM tb_excipients_put
         <where>
        <if test="production_batch!=null">
            production_batch=#{production_batch}
        </if>
         </where>
    </select>

    <insert id="createRecord" parameterType="ExcipientsPutRecord">
        INSERT INTO tb_excipients_put VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (0,#{item.production_batch},#{item.excipients_name},#{item.feed_quantity})
        </foreach>
    </insert>
</mapper>