<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.news.analysis.dao.OutRecordMapper">
    <select id="getOutRecordByID" parameterType="String" resultType="OutRecord">
        SELECT * FROM tb_out_record WHERE out_number = #{out_number}
    </select>

    <insert id="createOutRecord" parameterType="OutRecord">
        INSERT INTO tb_out_record VALUES (#{out_number},#{out_date},#{warehouse_number},#{production_batch},#{product_type},#{product_name},#{quantity},#{operator},#{remark})
    </insert>

    <select id="getOutRecords" parameterType="Map" resultType="OutRecord">
        SELECT * FROM tb_out_record
        <where>
            <if test="out_number!=null">
                out_number = #{out_number}
            </if>
            <if test="start_time!=null">
                <if test="end_time!=null">
                    AND str_to_date(out_date,'%Y-%m-%d %H:%i:%s') BETWEEN str_to_date(#{start_time},'%Y-%m-%d %H:%i:%s') AND str_to_date(#{end_time},'%Y-%m-%d %H:%i:%s')
                </if>
                AND str_to_date(out_date,'%Y-%m-%d %H:%i:%s')>=str_to_date(#{start_time},'%Y-%m-%d %H:%i:%s')
            </if>
            <if test="warehouse_number!=null">
                AND warehouse_number=#{warehouse_number}
            </if>
            <if test="production_batch!=null">
                AND production_batch=#{production_batch}
            </if>
            <if test="product_type!=null">
                AND product_type=#{product_type}
            </if>
            <if test="product_name!=null">
                AND product_name=#{product_name}
            </if>
            <if test="operator!=null">
                AND operator=#{operator}
            </if>
        </where>
    </select>
</mapper>