<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.news.analysis.dao.ProductInfoMapper">
    <select id="getRecordByID" parameterType="java.lang.Integer" resultType="ProductInfo">
        SELECT * FROM tb_product_information WHERE id = #{id}
    </select>

    <insert id="createRecord" parameterType="ProductInfo">
        INSERT INTO tb_product_information VALUES (0,#{product_type},#{product_name},#{energy_rate},#{protein_rate},#{fat_conten_rate},#{carbohydrate_rate},
        #{sodium_rate},#{energy_content},#{protein_content},#{fat_conten_content},#{carbohydrate_content},#{sodium_content},#{img_url},#{expiration_date})
    </insert>

    <select id="getRecordList" parameterType="Map" resultType="ProductInfo">
        SELECT * FROM tb_product_information
        <where>
            <if test="product_name!=null">
                product_name LIKE CONCAT('%',#{product_name},'%')
            </if>
        </where>
    </select>

    <update id="updateRecord" parameterType="ProductInfo">
        UPDATE tb_product_information SET product_type=#{product_type},product_name=#{product_name},energy_rate=#{energy_rate},protein_rate=#{protein_rate},fat_conten_rate=#{fat_conten_rate},carbohydrate_rate=#{carbohydrate_rate},
        sodium_rate=#{sodium_rate},energy_content=#{energy_content},protein_content=#{protein_content},fat_conten_content=#{fat_conten_content},
        carbohydrate_content=#{carbohydrate_content},sodium_content=#{sodium_content},img_url=#{img_url},expiration_date=#{expiration_date} WHERE id=#{id}
    </update>
</mapper>