<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.news.analysis.dao.ProductionRecordMapper">
    <!--通过批次获取-->
    <select id="getProductionRecordByBatch" parameterType="String" resultType="ProductionRecord">
        SELECT * FROM tb_production_record WHERE production_batch = #{production_batch}
    </select>

    <!--创建生产记录-->
    <insert id="creatProductionRecord" parameterType="ProductionRecord">
        INSERT INTO tb_production_record VALUES (#{production_batch},#{product_type},#{product_name},#{material_batch},#{feed_quantity},#{plan_output},#{production_date},#{operator})
    </insert>

    <!--获取生产日期-->
    <select id="getProductionDate" parameterType="String" resultType="String">
        SELECT production_date FROM tb_production_record WHERE production_batch=#{production_batch}
    </select>

    <!--通过条件获取记录-->
    <select id="getProductionRecords" parameterType="Map" resultType="ProductionRecord">
        SELECT * FROM tb_production_record
        <where>
            <if test="production_batch!=null">
                production_batch=#{production_batch}
            </if>
            <if test="product_type!=null">
                AND product_type=#{product_type}
            </if>
            <if test="product_name!=null">
                AND product_name=#{product_name}
            </if>
            <if test="operator!=null">
                AND operator=#{operator}
            </if>
            <if test="start_time!=null">
                <if test="end_time!=null">
                    AND str_to_date(production_date,'%Y-%m-%d %H:%i:%s') BETWEEN str_to_date(#{start_time},'%Y-%m-%d %H:%i:%s') AND str_to_date(#{end_time},'%Y-%m-%d %H:%i:%s')
                </if>
                AND str_to_date(production_date,'%Y-%m-%d %H:%i:%s')>=str_to_date(#{start_time},'%Y-%m-%d %H:%i:%s')
            </if>
        </where>
    </select>

    <!--获取生产批次-->
    <select id="getBatch" parameterType="String" resultType="String">
        SELECT production_batch FROM tb_production_record WHERE material_batch=#{material_batch}
    </select>

    <!--通过批次获取该批次中的产品类型-->
    <select id="getTypeByBatch" parameterType="String" resultType="String">
        SELECT product_type FROM tb_production_record WHERE production_batch=#{production_batch}
    </select>

    <!--通过批次和类型获取产品名称-->
    <select id="getNameByBatchAndType" resultType="String">
        SELECT product_name FROM tb_production_record WHERE production_batch=#{production_batch} AND product_type=#{product_type}
    </select>
</mapper>