<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.news.analysis.dao.PurchaseExcipientsRecordMapper">
    <!--通过批次获取记录-->
    <select id="getRecordByBatch" parameterType="String" resultType="PurchaseExcipientsRecord">
        SELECT * FROM tb_purchase_excipients_record WHERE purchase_batch=#{purchase_batch}
    </select>

    <!--创建记录-->
    <insert id="createRecord" parameterType="PurchaseExcipientsRecord">
        INSERT INTO tb_purchase_excipients_record VALUES (#{purchase_batch},#{excipients_name},#{purchase_date},#{purchase_place},#{unit_price},#{weight},#{total_price},#{purchase_person})
    </insert>

    <!--根据条件查询记录-->
    <select id="getRecordList" parameterType="Map" resultType="PurchaseExcipientsRecord">
        SELECT * FROM tb_purchase_excipients_record
        <where>
            <if test="purchase_batch!=null">
                purchase_batch=#{purchase_batch}
            </if>
            <if test="excipients_name!=null">
                AND excipients_name=#{excipients_name}
            </if>
            <if test="start_time!=null">
                <if test="end_time!=null">
                    AND str_to_date(purchase_date,'%Y-%m-%d') BETWEEN str_to_date(#{start_time},'%Y-%m-%d') AND str_to_date(#{end_time},'%Y-%m-%d')
                </if>
                AND str_to_date(purchase_date,'%Y-%m-%d')>=str_to_date(#{start_time},'%Y-%m-%d')
            </if>
            <if test="purchase_place!=null">
                AND purchase_place LIKE CONCAT('%',#{purchase_place},'%')
            </if>
            <if test="purchase_person!=null">
                AND purchase_person=#{purchase_person}
            </if>
        </where>
    </select>

</mapper>